# Isso é um comentário
# O asterisco é utilizado como um caractere coringa
# A barra invertida \ é usada para ignorar nomes relativos ao arquivo .gitignore
# O # é usado para adicionar comtários ao arquivo .gitignore

ignorar